body {
    background-color: beige;
    margin: 0;
    padding: 20px;
}

.contenitore {
    height: 10vh;
    border: 2px solid black;
}

button {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    border: none;
}

.elemento {
    color: white;
}

#primo {
    display: flex;
    justify-content: center;
    align-items: center;
}


#secondo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#terzo {
    display: flex;
    justify-content: end;
    align-items: end;
}

#quarto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#quinto {
    display: flex;
    
}

#verde {
    background-color: green;
    justify-content: start;
    width: 50%;
    

}

#blu {
    background-color: blue;
    justify-content: end;
    width: 50%;
    
}

